#root {
    display: flex;
}

.root {
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
}
.description {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: flex-start;
}

.results {
    width: 200px;
    padding: 20px;
    border: 1px solid #cecece;
    margin-top: 40px;
}

.button {
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 8px;
    margin-bottom: 10px;
}

.primary {
    background: mediumblue;
    margin-right: 8px;
}

.secondary {
    background: #516880;
    margin-right: 8px;
}

.result {
    font-weight: bold;
    margin-bottom: 4px;
}

.info {
    margin-bottom: 4px;
}
