.description {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.start {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.result {
    font-weight: bold;
    margin-right: 20px;
}

.info {
    margin-right: 20px;
}
